# 字节码和编译文件
__pycache__/
*.py[cod]
*$py.class

# Python 虚拟环境
# 这条规则非常重要，可以防止你把整个虚拟环境提交上去
venv/
env/
.venv/
.env/
*/venv/
*/env/
*/.venv/
*/.env/

# IDE 和编辑器配置文件
.vscode/
.idea/
*.swp
*.swo

# 日志和数据文件
*.log
*.log.*
*.csv
*.zip
*.pth  # 常见的模型权重文件，通常很大
*.ckpt # 常见的模型检查点文件

# 存放本地实验结果或数据的文件夹 (自定义)
# 比如你创建了一个 outputs/ 文件夹来存放生成的图片，你可能不想提交它
outputs/
datasets/

# 操作系统生成的文件
.DS_Store
Thumbs.db